.filters__list {
  display: inline;
  & a {
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    &:hover {
      border-color: rgba(175, 47, 47, 0.1);
    }
    &:disabled {
      border-color: rgba(175, 47, 47, 0.2);
    }
    &.selected {
      border-color: rgba(175, 47, 47, 0.2);
    }
  }
}
