.todo-list__delete {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0 !important;
  font-size: 30px !important;
  color: #cc9a9a !important;
  margin-bottom: 11px !important;
  transition: color 0.2s ease-out;
  &:hover {
    color: #af5b5e !important;
  }
  &:after {
    content: "×";
  }
}
